div{
    display: block;
    /* display: none;  */
    /* which doesnot show anything */
    /* visibility: hidden; */
    overflow: visible; /* Hides the execss data*/
    overflow: auto;
}
span{
    display: inline;
}
span{
    display: inline-block;
    /* width: 200px;
    height: 200px; */
    padding: 200px;
    background-color:antiquewhite;
    color: black;
}
/* psition properties */
/* div{
    display: inline-block;
    position:static; 
    we cant changet the positon 
    position: relative;
     top: 4px;
    left: 40px; 
}
.parent{
    position: relative;
}
.child{
    position:relative;
    top:100px;
    right: 100px; 
}
h1{
    position: sticky;
}*/

.container{
    display:flex;
    flex-direction:row;
    /* justify-content:left; */
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;

}
.item{
    /* height: 100px;
    width: 100px; */
    margin: 10px;
    padding:100px;
    text-align: center;
    background-color: blue;

}
/*wrap
1 2 3 4 5 6 7 8 
wrap:
1 2 3 4 
5 6 7 8 */
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items:right;
}

/*flexbox: row ar column
css grid: row &columns*/
.container1{
    display: grid;
    /*create the column*/
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* grid-template-columns: repeat(autofit,minmax(200px,1fr)); */
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    padding: 100px;
    grid-template-areas: "header header" "siderbar content" "footer footer";
}
.item1{
    /* width: 100px;
    height: 100px; */
    padding: 100px;
    background-color: yellow;
}
body{
    background-color: palevioletred;
    /* background-image:url(th.jpg) ; */
    background-size: 10%;
    background-position: center;
    /* background-repeat: repeat; */

}
h1{
    text-shadow: 2px 2px 2px blue;
    /* text-shadow: 5px 2px 10 px blue; */
}
button:hover{
    background-color:blue;
    color:white;
}
input{
    padding: 10px;
    border: 5px solid black;
    border-radius: 5px;
    outline: none;
}
input:focus:hover{
    border:5px solid blue;
}
button:active{
    transform: scale(1);
}
.box{
    
    padding: 100px;
    background-color: red;
  
}
.box{
    /* transform:translate(50px,20px); */
    /* transform: rotate(45deg); */
    width: 100px; 
    height: 100px;
    padding: 100px;
    transform: scale(1);
}
.card{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card:hover{
    background-color: blue;
    transform: scale(1.0);
}
.card{
    transform: skew(5deg);
}
.card{
    transform:translatey(-20px)
    scale(1)
    rotate(1deg);
}
.newbtn{
    background-color: yellow;
    /* transition: 1s; */
    /* transition-timing-function: ease-in; */
}
.newbtn:hover{
    background-color: sienna;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    /* transition: 1s; */
}
